<b>Merchants</b>
<p class="tagshowtext"><a href="/merchants/new">Create New Merchant</a></p>

<hr>

  <% for merchant in @merchants %>
    <p class="showtext"><%= merchant.name %></p>
    <a href="/merchants/<%=merchant.id%>" class="showtext">View</a>
    <hr>
  <% end %>
