<b>Merchants</b>
<p><a href="/merchants/new">Create New Merchant</a></p>

<hr>

  <% for merchant in @merchants %>
    <p><%= merchant.name %></p>
    <a href="/merchants/<%=merchant.id%>">View</a>
    <hr>
  <% end %>
