<b>Create new Merchant</b>
<hr>

  <form action="/merchants" method="post">
    <label name="name">Please enter merchants name:</label>
    <input type="text" name="name">

    <input type="submit" value="Create New">

  </form>