<h1><%= @merchant.name %></h1>

<b>Transactions at this merchant</b>
  <% trans = @merchant.transactions %>
  <% for tran in trans %>
    <p>Amount: <%= tran.amount %></p>
    <p>on <%= tran.tag %></p>
    <p><a href="/transactions/<%=tran.id%>">View Transaction</a></p>
    <hr>
  <% end %>
  