<!DOCTYPE html>
<html>
<head>
  <title>MoneyCashBoard</title>
</head>
<body>
  <header><h3><a href="/">MoneyCashBoard</a></h3></header>
  <p><a href="/transactions">View Transactions</a>     <a href="/merchants">View Merchants</a>   <a href="/analysis/all">Analysis</a></p>
  <hr>
  <%= yield %>
  <footer><p>&copyMoneyCashBoard</p></footer>
</body>
</html>