<!DOCTYPE html>
<html>
<head>
  <title>MoneyCashBoard</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <header>
  <h1 class="headertitle"><a href="/">MoneyCashBoard</a></h1> 
  <div class="headerdiv"><p> <a href="/analysis/all">Analysis</a>   <a href="/transactions">View Transactions</a>    <a href="/merchants">View Merchants</a>   </p></div>
  </header>
  
  
  <%= yield %>



  <footer><p>&copyMoneyCashBoard</p></footer>
</body>
</html>