<b>You've successfully created a new transaction</b>


<p><b>You spent £<%= @transaction.amount %> in <%= @transaction.merchants['name'] %> on <%= @transaction.tag['name'] %></b></p>


<p class="createtransactionlink"><a href="/transactions">Return to all Transactions</a></p>