<b>You've successfully created a new transaction</b>
<hr>

<b>You spent <%= @transaction.amount %></b>
<b>in</b>
<b><%= @transaction.merchants['name'] %></b>
<b>on</b>
<b><%= @transaction.tag %></b>

<hr>
<a href="/transactions">Return to all Transactions</a>