<b>Create new transaction</b>



<form action="/transactions" method="post" class="editform">
  <label for="amount">Amount:</label>
  <input type="float" name="amount">

  <label for="tag">Tag:</label>
    <select name="tag_id">
      <% for tag in @tags %>
        <option value="<%= tag.id %>"><%= tag.name %></option>
        <% end %>
      
    </select>

  <label for="merchant_id">Merchant:</label>
    <select name="merchant_id">
      <% for merchant in @merchants %>
        <option value="<%= merchant.id %>"><%= merchant.name %></option>
        <% end %>
      
    </select>

    <input type="submit" value="Add Transaction">

</form>

