<b>Transaction</b>
<hr>

<b>Merchant Name:</b>
<p><%= @transaction.merchants['name'] %></p>
<b>Tag:</b>
<p><%= @transaction.tag['name'] %></p>
<b>Amount:</b>
<p><%= @transaction.amount %></p>

<a href="/merchants/<%= @transaction.merchant_id%>">Go To Merchant</a>

