<h1>Search for item by tag:</h1>

<form action="/transactions/tag" method="post">
  <label name="tag">Search Tags:</label>
    <select name="tag_id">
      <% for tag in @tags %>
        <option value="<%= tag.id %>"><%= tag.name %></option>
        <% end %>
      
    </select>

  <input type="submit" value="Search">
</form>